<!DOCTYPE html>
<html xmlns: th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
    <title>Odometer</title>
</head>
<body>
    <h1>Odometer</h1>
    <form method="get">
        <label for="numberInput">Enter a number with digits in increasing order:</label>
        <input type="number" id="numberInput" name="numberInput" required>
        <button type="submit" name="action" value="left">Get Predecessor</button>
        <button type="submit" name="action" value="right">Get Successor</button>
    </form>
    <p> Current Reading <span th:text= "${current_reading}"></span></p>
    <p> Next Reading <span th:text= "${next_reading}"></span></p>
    <p> Previous Reading <span th:text= "${previous_reading}"></span></p>
</body>
</html>
